<form class="ui large form segment">
  <h3 class="ui header">Link Ekle</h3>

  <div class="field">
    <label for="title">Baslik:</label>
    <input name="title" #newTitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newLink>
  </div>

  <button (click)="addArticle(newTitle, newLink)" class="ui positive right floated button">
    Link Ekle
  </button>
</form>

<div class="ui grid posts">
  <app-article 
    *ngFor="let article of sortedArticles()"
    [article] = "article">
  </app-article>
</div>